<div class="row">
  <div class="col-12">
    <%= render partial: 'shared/error_messages', locals: { object: message } %>
  </div>
  <%= form_with(model: [room, message], local: true, class: "col-8 offset-2 mt-5") do |f| %>
    
    <div class="field">
      <%= f.text_area :content, class: "form-control" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div>
      <%= f.submit "メッセージを送る", class: "col-12 mt-3 mb-5 btn btn-primary" %>
    </div>
    <div class="card-title col-12 text-center">
      <%= link_to "ひそひそ一覧にもどる", followers_user_path(current_user.id), class: "btn btn-primary mb-5" %>
    </div>
  <% end %>
</div>