
<div class="ui segment">
  <% @messages.each do |message| %>
    <div class="row">
      <% if message.content.present? %>
        <% if message.user_id == current_user.id %>
          <!--相手のメッセージ欄-->
          <div class="card offset-5 col-6 my-3" style="background: #71fc6a;">
            <div class="card-body">
              <%= simple_format(message.content) %> 
            </div>
            <div class="card-title text-right mt-2">
              <%= "#{message.user.name} : #{message.message_time}" %> / <%= message.read ? '既読' : '未読' %>
              <%= link_to 'DELETE', room_message_path(@room, message), method: :delete, class: "btn text-light btn-danger reset-pm ml-2", data: { confirm: "このメッセージを削除しますか?" } %>
            </div>
          </div>

        <% else %>
        
          <!--相手のメッセージ欄-->
          <div class="card offset-1 col-6 my-3" style="background: #f9f9f9;">
            <div class="card-body text-right mt-2">
              <%= simple_format(message.content) %> 
            </div>
            <div class="text-left">
              <%= "#{message.user.name} : #{message.message_time}" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= render partial: "messages/form", locals: { room: @room, message: @message } %>
</div>
<div id="page-bottom"></div>
<script>
  $(function(){
    var a = document.documentElement;
    var y = a.scrollHeight - a.clientHeight;
    window.scroll(0, y);
  });
</script>