<% provide(:title, "マイページ") %>
<div class="row">
  <div class="left-section col-lg-3 mt-4">
    <%= image_tag (@user.avatar.present? ? @user.avatar_url(:thumb) : "no-image.jpg"), class: 'avatar mx-auto' %>
    <p class="col-12 text-center mt-2"><%= @user.name %></p>
    <%= link_to "設定変更", edit_user_registration_path, class: "btn btn-primary col-8 offset-2" %>
    <%= link_to "ひそひそ一覧", followers_user_path(@user), class: "btn btn-primary col-8 offset-2 my-4" %>
  </div>
  <div class="right-sectoion col-lg-9 mt-4">
    <h2 class="col-12 text-center mb-5">あなたの質問</h2>
    <%= render partial: 'posts/index', locals: { posts: @posts } %>
    <div class="my-5 col-4 offset-4 px-2">
      <%= paginate @posts %>
    </div>
  </div>
</div>