<div class="row">
  <h2 class="col-12 text-center my-4">Log in</h2>

  <div class="card offset-3 col-6" style="height: auto; margin-bottom: 30px;">
    <p class="text-center mt-3 card-text">テストユーザーログインボタンを使用する事で</p>
    <p class="text-center card-text mb-3">こちらで用意したテストユーザーでログインいただけます</p>
  </div>

  <%= form_for(resource, as: resource_name, html: { class: "col-12" }, url: session_path(resource_name)) do |f| %>
    <div class="field col-12 mx-auto">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "offset-2 offset-lg-4 col-8 col-lg-4 mb-4", placeholder: "メールアドレス", id: 'login-email' %>
    </div>

    <div class="field col-12">
      <%= f.password_field :password, autocomplete: "current-password", class: "offset-2 offset-lg-4 col-8 col-lg-4 mb-4", placeholder: "パスワード", id: 'login-pass' %>
    </div>
  <!--
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  -->
    <div class="actions ">
      <%= f.submit "SignIn", class: "btn btn-primary offset-2 offset-lg-4 col-8 col-lg-4 my-4 rounded-pill" %>
    </div>

    <div class="actions ">
      <%= f.submit "テストユーザーでログイン", class: "btn btn-primary offset-2 offset-lg-4 col-8 col-lg-4 mb-4 rounded-pill", id: 'test-user-btn' %>
    </div>
  <% end %>
</div>
<!--
<%= render "devise/shared/links" %>
-->

<script>
$('#test-user-btn').on('click', function(){
  $('#login-email').val('hoge@gmail.com');
  $('#login-pass').val('111111');
});
</script>