<% if posts.present? %>
  <table class="table bg-light table-shadow table-hover">
    <thead class="col-12">
      <tr class="row mx-2">
        
        <th class="col-3 text-left">質問タイトル</th>
        <th class="col-5 text-left">質問内容</th>
        <th class="col-1 text-left">状態</th>
        <th class="col-3 text-center">投稿日</th>
      </tr>
    </thead>
    <tbody class="col-12">
      <% posts.each do |post| %>
        <tr class="row  mx-2" onclick='window.location="/posts/<%= "#{post.id}" %>"' role="link">
          <td class="col-3 text-left"><%= truncate(post.title, length: 10) %></td>
          <td class="col-5 text-left"><%= truncate(post.description, length: 18) %></td>
          <td class="col-1 status-label"><%= post.status %></td>
          <td class="col-3 text-center"><%= post.prepare_created_at %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
<% else %>
    <div class="card col-10 offset-1" style="height: 160px;">
      <div class="card-body text-center mt-5">あなたの質問はまだありません</div>
    </div>
<% end %>

<script>
$(document).on("turbolinks:load", function() {
  $('.status-label').each(function(i, el) {
    if ($(this).text() == "未解決") {
      $(this).css('color', 'red');
    } else if ($(this).text() == '保留') {
      $(this).css('color', 'black');
    } else if ($(this).text() == "解決") {
      $(this).css('color', 'blue');
  }
  })
});

</script>