<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#6dbcb5;opacity:0.7;">
  <% if user_signed_in? %>
    <%= link_to 'I know that', posts_path, class: "navbar-brand text-light" %>
  <% else %>
    <%= link_to 'I know that', root_path, class: "navbar-brand text-light" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--メニュー左側表示-->
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto ml-5">
        <li class="nav-item ml-3">
          <%= link_to 'みんなの質問', posts_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item ml-3">
          <%= link_to "みんなに質問する", new_post_path, class: "nav-link text-light" %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto ml-5">
        <li class="nav-item active ml-3">
          <%= link_to "みんなの質問", posts_path, class: "nav-link text-light" %>
        </li>
      </ul>
    <% end %>
    <!--メニュー右側表示-->
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= user_signed_in? ? current_user.name : "名無しさん" %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "MyPage", user_path(current_user), class: "dropdown-item" %>
            <%= link_to 'settings', edit_user_registration_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div> 
            <%= link_to "SignOut", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <%= link_to "SignUp", new_user_registration_path, class: "dropdown-item" %>
            <%= link_to "SignIn", new_user_session_path, class: "dropdown-item" %>
          <% end %>
            
          <%# <div class="dropdown-divider"></div> %>
        </div>
      </li>
    </ul>
</nav>