<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || "PortfolioApp" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="http://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=japanese" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Quicksand:700&display=swap" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap&subset=japanese" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if controller_name != 'static_pages' && action_name !=  'origin_size_image' %>
    <%= render partial: 'layouts/header' %>
  <% end %>
  

  <div class="container-fluid">
  <div class="row">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> col-8 offset-2 text-light text-center py-1 mt-2 delay-vanish" style="background-color:#d65cd2;"><%= message %></div>
    <% end %>
  </div>
    <%= yield %>
  </div>
  </body>
</html>
