<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || "PortfolioApp" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=japanese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if controller_name != 'static_pages' %>
    <%= render partial: 'layouts/header' %>
  <% end %>
  <div class="container-fluid">
    <%= yield %>
  </div>

  <div class="row">
    <div class="col-8 offset-2 bg-secondary mt-5">
      <% if Rails.env.development? %>
        <%= debug(params) %>
      <% end %>
    </div>
  </div>
  </body>
</html>
